﻿<!DOCTYPE html>

<html>
<head>
    <!-- Bootstrap core CSS-->
    <link href="~/Style/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Toaster Notification CSS-->
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Style/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Style/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Style/css/sb-admin.css" rel="stylesheet">
    <link href="~/Style/css/sb-admin.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>Syllabus Automation System</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="#" type="button">Syllabus Automation System</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- Navbar -->
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav ml-auto ml-md-0">

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw "></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">User Name: @User.Identity.Name </a>
                        @if (User.IsInRole("2"))
                        {
                            <a class="dropdown-item" href="@Url.Action("AdminProfile", "Account", new { id = (int)Session["uid"]})" type="button">My Profile</a>
                        }
                        else if (User.IsInRole("3"))
                        {
                            <a class="dropdown-item" href="@Url.Action("DeptAdminProfile", "Account", new { id = (int)Session["uid"]})" type="button">My Profile</a>
                        }

                        else if (User.IsInRole("4"))
                        {
                            <a class="dropdown-item" href="@Url.Action("TeacherProfile", "Account", new { id = (int)Session["uid"]})" type="button">My Profile</a>
                        }

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout","Account")" data-toggle="modal" data-target="#logoutModal">Logout</a>
                    </div>
                </li>

            </ul>
        }
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        @if (User.Identity.IsAuthenticated && User.IsInRole("1"))
        {
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("AdminDashboard", "Home"))" type="button">
                        <i class="fas fa-fw fa-desktop"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("Index", "Universities"))" type="button">
                        <i class="fas fa-fw fa-school"></i>
                        <span>Universities</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("Index", "Account"))" type="button">
                        <i class="fas fa-fw fa-users"></i>
                        <span>University Admins</span>
                    </a>
                </li>
            </ul>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("2"))
        {


            <ul class="sidebar navbar-nav">
                <!-- Dropdown Department -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="mydropdown1" href="#" type="button">
                        <i class="fas fa-fw fa-school"></i>
                        <span>University</span>
                    </a>
                    <ul class="submenu dropdown-menu bg-dark" aria-labelledby="mydropdown">
                        <li id="detail" class="nav-item">
                            <a class="nav-link" href="@(Url.Action("UniversityDetail", "University"))" type="button">
                                <i class="fas fa-fw fa-newspaper"></i>
                                <span>Details</span>
                            </a>
                        </li>
                        <li id="mission" class="nav-item">
                            <a class="nav-link" href="@(Url.Action("UniversityMissions", "Uni_Mission"))" type="button">
                                <i class="fas fa-fw fa-bullseye"></i>
                                <span>Missions</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- Dropdown -->

                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("FacultyNamesOfUniversity", "Faculty"))" type="button">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Faculty List</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("DepartmentNamesOfUniversity", "Department"))" type="button">
                        <i class="fas fa-fw fa-digital-tachograph"></i>
                        <span>Departments List</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("DepartmentAdmins", "Account"))" type="button">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Department Admins</span>
                    </a>
                </li>
                <!-- Dropdown -->
                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="mydropdown" href="#" type="button">
                        <i class="fas fa-fw fa-circle-notch "></i>
                        <span>Basic</span>
                    </a>
                    <ul class="submenu dropdown-menu bg-dark" aria-labelledby="mydropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="#" type="button">
                                <i class="fas fa-fw fa-home "></i>
                                <span>University</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" type="button">
                                <i class="fas fa-fw fa-user "></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("Index", "Faculty"))" type="button">
                        <i class="fas fa-fw fa-home "></i>
                        <span>Faculty</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("Index", "Department"))" type="button">
                        <i class="fas fa-fw fa-home "></i>
                        <span>Department</span>
                    </a>
                </li>
                    </ul>
                </li>*@
                <!-- Dropdown -->

            </ul>

        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("3"))
        {
            <ul class="sidebar navbar-nav">
                <!-- Dropdown Department -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="mydropdown1" href="#" type="button">
                        <i class="fas fa-fw fa-school"></i>
                        <span>Department</span>
                    </a>
                    <ul class="submenu dropdown-menu bg-dark" aria-labelledby="mydropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="@( Url.Action("DeptVision", "DepartmentDetail"))" type="button">
                                <i class="fas fa-fw fa-newspaper "></i>
                                <span>Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("DeptMissions", "DepartmentDetail"))" type="button">
                                <i class="fas fa-fw fa-bullseye "></i>
                                <span>Missions</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("TeachingStrategies", "Program"))" type="button">
                                <i class="fas fa-fw fa-cogs"></i>
                                <span>Teaching Strategies</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("SessionList", "DepartmentDetail"))" type="button">
                                <i class="fas fa-fw fa-calendar-alt"></i>
                                <span>Sessions</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("Designations", "DepartmentDetail"))" type="button">
                                <i class="fas fa-fw fa-award"></i>
                                <span>Designations</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("AssignedTeachers", "Account"))" type="button">
                                <i class="fas fa-fw fa-users"></i>
                                <span>Teachers </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("ProgramList", "DepartmentDetail"))" type="button">
                        <i class="fas fa-fw fa-tasks"></i>
                        <span>Programs</span>
                    </a>
                </li>
                <!-- Dropdown Course -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="mydropdown" href="#" type="button">
                        <i class="fas fa-fw fa-book "></i>
                        <span>Course Section</span>
                    </a>
                    <ul class="submenu dropdown-menu bg-dark" aria-labelledby="mydropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="@( Url.Action("CourseType", "Course"))" type="button">
                                <i class="fas fa-fw fa-cog "></i>
                                <span>CourseType</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("Marks", "Course"))" type="button">
                                <i class="fas fa-fw fa-list "></i>
                                <span>Marks</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("Selection", "Course"))" type="button">
                                <i class="fas fa-fw fa-plus-circle"></i>
                                <span>Add/View Courses</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- Dropdown -->
                <!-- Dropdown Syllabus -->
                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="mydropdown" href="#" type="button">
                        <i class="fas fa-fw fa-clipboard-list "></i>
                        <span>Syllabus Section</span>
                    </a>
                    <ul class="submenu dropdown-menu bg-dark" aria-labelledby="mydropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("Selection", "Course"))" type="button">
                                <i class="fas fa-fw fa-plus-circle"></i>
                                <span>Create</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("ProgramSelection", "GenerateSyllabus"))" type="button">
                                <i class="fas fa-fw fa-pencil-alt"></i>
                                <span>View Course Wise</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("SessionSelection", "GenerateSyllabus"))" type="button">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                <span>View Full Syllabus</span>
                            </a>
                        </li>
                    </ul>
                </li>*@
                <!-- Dropdown -->


            </ul>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("4"))
        {
            <ul class="sidebar navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@(Url.Action("Selection", "Teacher"))" type="button">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Courses</span>
                    </a>
                </li>
                <!-- Dropdown Syllabus -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="mydropdown" href="#" type="button">
                        <i class="fas fa-fw fa-clipboard-list "></i>
                        <span>Syllabus Section</span>
                    </a>
                    <ul class="submenu dropdown-menu bg-dark" aria-labelledby="mydropdown">

                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("YearSelection", "Teacher"))" type="button">
                                <i class="fas fa-fw fa-pencil-alt"></i>
                                <span>View Course Wise</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@(Url.Action("SessionSelection", "GenerateSyllabus"))" type="button">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                <span>View Full Syllabus</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Dropdown -->
            </ul>
        }
else
            {
               
            }

        <div id="content-wrapper">
            @RenderBody()

            <!-- Sticky Footer -->
            <footer class="sticky-footer navbar-fixed-bottom">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script> All rights reserved  by Sourav Kundu <i class="icon-heart color-danger" aria-hidden="true"></i>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-warning" href="@Url.Action("Logout","Account")">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Style/vendor/jquery/jquery.min.js"></script>
    <script src="~/Style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Toaster Notification Script-->
    <script src="~/Scripts/toastr.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Style/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Style/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Style/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Style/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Style/js/sb-admin.min.js"></script>
    <!-- Custom scripts for notification-->
    <script src="~/Scripts/CustomJS.js"></script>
    <!-- Demo scripts for this page-->
    <script src="~/Style/js/demo/datatables-demo.js"></script>
    <script src="~/Style/js/demo/chart-area-demo.js"></script>




    @RenderSection("scripts", required: false)




</body>

</html>
