﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus Automation System</title>
    <style type="text/css">
        table {
            page-break-after: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        td {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-header-group
        }

        .custom-table {
            width: 50%;
        }
    </style>
    <!-- Bootstrap core CSS-->
    <link href="~/Style/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->
    <link href="~/Style/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Style/css/sb-admin.css" rel="stylesheet">
    <link href="~/Style/css/sb-admin.min.css" rel="stylesheet" />
    <link href="~/Style/css/CustomCss.css" rel="stylesheet" media="print"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

