﻿
@{
    ViewBag.Title = "GenerateSyllabus";
    Layout = "~/Views/Shared/_GenerateLayoutPage.cshtml";
}
<link href="~/Style/css/CustomCss.css" rel="stylesheet" media="print" />
<style>

    .cell {
        display: grid;
        width: max-content;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        border: 1px solid #000;
        margin-bottom: 1rem;
    }

    .cell--topRight {
        grid-column-start: 2;
        text-align: right;
    }

    .cell--bottomLeft {
        grid-column-start: 1;
    }
</style>
<div class="container-fluid">
    <div class="print-content">
        @{
            foreach (var item in (List<SyllabusAutomation.Models.Course>)@ViewBag.CourseDetail)
            {
                var id = item.CourseId;
                <!--Header-->
                <div class="text-center">

                    <h3>
                        <strong>
                            @item.University.UniName<br />
                            @item.Faculty.FacultyName<br />
                            @item.Department.DeptName
                            <br /><br />
                        </strong>
                    </h3>
                    <h4 style="text-decoration: underline;">
                        <strong>
                            Course Outline: @item.CourseTitle
                        </strong>
                    </h4>
                    <br /><br />
                </div>
                <!--Introduction-->
                <div>
                    <h3 style="text-decoration: underline;"><strong>Part A: Introduction</strong></h3><br />
                    <h4>
                        <strong>
                            I. Course Code: @item.CourseCode<br /><br />
                            II. Credit: @item.Credit
                        </strong>
                    </h4><br />
                    <h3><strong>1. Course Summary:</strong></h3>
                    <h4 class="text-justify">@item.CourseSummary</h4>
                    <br />
                    <h4><strong>2. Course Objectives:</strong></h4>
                    @{
                        var courseObjectives = item.CourseObjectives.Where(x => x.CourseId == item.CourseId).ToList();
                        foreach (var co in courseObjectives)
                        {
                            <p class="text-justify" style="font-size:20px;">@(courseObjectives.IndexOf(co) + 1). @co.Objectives</p>
                        }

                    }
                    <br />
                    <h4><strong>3. Course Learning Outcomes:</strong></h4>
                    @{
                        var learningOutcomes = item.CLOes.Where(x => x.CourseId == item.CourseId).ToList();
                        foreach (var lo in learningOutcomes)
                        {
                            <p class="text-justify" style="font-size:20px;">@(learningOutcomes.IndexOf(lo) + 1). @lo.Outcomes</p>
                        }
                    }

                    <br />
                    <br />
                </div>
                <!--Lesson Plan-->
                <div>
                    <h3 style="text-decoration: underline;"><strong>Part B: Lession Plan</strong></h3>
                    <h4><strong>Course Details Learning plan</strong> </h4>
                    @{
                        var learningPlans = item.LearningPlans.Where(x => x.CourseId == item.CourseId).ToList();
                        <div class="card-body">
                            <table class="table table-bordered" style="max-width:95%;" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Timeline</th>
                                        <th>Topics/Contents</th>
                                        <th>Learning Outcomes</th>
                                        <th>Mapped CLOs</th>
                                        <th>Teaching Strategies</th>
                                        <th>Assessment Strategies</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var lp in learningPlans)
                                        {
                                            <tr>
                                                <td>@lp.Week.Timeline</td>


                                                <td>@lp.Topics</td>
                                                <td>@lp.LearningOutcome </td>
                                                <td>
                                                    @foreach (var e in @lp.LPCLOes.Where(x => x.PlanId == lp.PlanId).ToList())
                                                    {

                                                        var clos = e.Course.CLOes.TakeWhile(x => x.CourseId == e.CourseId).ToList();
                                                        foreach (var clo in clos.Where(x => x.CLOId == e.CLOId))
                                                        {
                                                            <p>
                                                                CLO @(clos.IndexOf(clo)+1)
                                                            </p>
                                                        }

                                                    }

                                                </td>

                                                <td>
                                                    @foreach (var e in @lp.LPAssessmentStrategies.Where(x => x.PlanId == lp.PlanId).ToList())
                                                    {
                                                        @e.Strategies<br />
                                                    }

                                                </td>

                                                <td>
                                                    @foreach (var e in @lp.LPTeachingStrategies.Where(x => x.PlanId == lp.PlanId).ToList())
                                                    {
                                                        @e.Strategies<br />
                                                    }
                                            </tr>
                                        }

                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    <br />
                </div>
                <!--Assesments-->
                <div>
                    <h3 class="text-dark" style="text-decoration: underline;"><strong>Part C- Assessment and Evaluations</strong></h3>
                    <h4><strong>Assessment Procedures</strong></h4>
                    @{
                        var assesments = item.AssessmentStrategies.Where(x => x.CourseId == item.CourseId).ToList();

                        <div class="card-body">
                            <table class="table table-condensed  table-bordered" style="max-width:95%;" cellspacing="0">
                                <colgroup>
                                    <col style="width: 40%;">
                                    <col style="width: 60%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Assessment Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var am in assesments)
                                        {
                                            <tr>
                                                <td>@am.Strategies</td>
                                                <td>@am.Description</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }


                    <br />
                    <h4><strong>CIE- Continuous Internal Evaluation (28 Marks):</strong> </h4>
                    @{
                        var cies = item.CIEs.Where(x => x.CourseId == item.CourseId).ToList();

                        <div class="card-body">
                            <table class="table table-condensed  table-bordered" style="max-width:90%;" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Bloom’s Category Marks (out of 20)</th>
                                        <th>Test (10)</th>
                                        <th>
                                            Assignment
                                            (5)
                                        </th>
                                        <th>
                                            Quizzes
                                            (5)
                                        </th>
                                        <th>External Participation in Curricular/Co-Curricular Activities </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var ci in cies)
                                        {
                                            <tr>
                                                <td>@ci.Category</td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                        }

                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    <br />
                    <h4><strong>SEE-Semester End Examination (72 Marks):</strong> </h4>
                    @{
                        var sees = item.SEEs.Where(x => x.CourseId == item.CourseId).ToList();

                        <div class="card-body">
                            <table class="table table-condensed  table-bordered" style="max-width:60%" cellspacing="0">
                                <colgroup>
                                    <col style="width: 50%;">
                                    <col style="width: 50%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Bloom's Category</th>
                                        <th>Test</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ foreach (var se in sees)
                                        {
                                            <tr>
                                                <td>@se.Category</td>
                                                <td>@se.Test</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    <br />
                    <h4>
                        <strong>
                            Mapping of CLOs to PLOs
                        </strong>
                    </h4>
                    @{
                        <!-- Display all missions of the university in a table -->
                        <div class="card-body">

                            <table class="table table-bordered " style="max-width:95%;" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>

                                            <div class="cell--bottomLeft">CLO</div>
                                            <div class="cell--topRight">PLO</div>
                                        </th>

                                        @foreach (var plo in item.CLOToPLOes.Select(m => m.PLOId).Distinct())
                                        {
                                            <th>PLO @(item.CLOToPLOes.Select(m => m.PLOId).Distinct().ToList().IndexOf(plo)+1)</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var clo in item.CLOToPLOes.Select(m => m.CLOId).Distinct())
                                    {
                                        <tr>
                                            <td>CLO @(item.CLOToPLOes.Select(m => m.CLOId).Distinct().ToList().IndexOf(clo)+1)</td>
                                            @foreach (var plo in item.CLOToPLOes.Select(m => m.PLOId).Distinct())
                                            {

                                                var cloToPlo = item.CLOToPLOes.FirstOrDefault(m => m.CLOId == clo && m.PLOId == plo);
                                                <td>
                                                    @if (cloToPlo != null)
                                                    {
                                                        @Html.HiddenFor(m => cloToPlo.CLOId)
                                                        @Html.HiddenFor(m => cloToPlo.PLOId)
                                                        @*@Html.TextBoxFor(m => peoMission.Value, new { @readOnly = "readOnly", @class = "form-control" })*@
                                                        @*@Html.TextBoxFor(m => cloToPlo.Value, new { @readonly = "readonly" })*@
                                                        @*<input type="text" class="form-control" value="@cloToPlo.Value" readonly="readonly" />*@
                                                        @cloToPlo.Value
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>

                    }
                    <br />
                </div>
                <br />
                <!--Resources-->
                <div>
                    <h3 class="text-dark" style="text-decoration: underline;"><strong>Part D- Resources</strong></h3>
                    @{
                        var textBooks = item.Resources.Where(x => x.ResourceType.ResourceTypeId == 1 && x.CourseId == item.CourseId).ToList();
                        var refBooks = item.Resources.Where(x => x.ResourceType.ResourceTypeId == 2 && x.CourseId == item.CourseId).ToList();
                        <h4><strong>TextResources:</strong></h4>
                        foreach (var book in textBooks)
                        {
                            <p>@(textBooks.IndexOf(book) + 1). @book.ResourceName</p>
                        }

                        <br />
                        <h4><strong>References:</strong></h4>
                        foreach (var refr in refBooks)
                        {
                            <p>@(refBooks.IndexOf(refr) + 1). @refr.ResourceName</p>
                        }

                    }


                    <br />
                </div>
                <br />

            }
            <br />

        }
        <div>
            <button class="btn btn-success print-button" onclick="window.print();">Print</button>
        </div>
    </div>
</div>





