﻿@model List<SyllabusAutomation.Models.Course>
@{
    ViewBag.Title = "SubjectList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumb navigation -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Course Wise Syllabus</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-book-open"></i>
            All Courses in <strong>@ViewBag.Program</strong>  for Session: <strong>@ViewBag.Session</strong>, Year: <strong>@ViewBag.Year</strong>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Semester</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(Model.IndexOf(item) + 1)</td>

                                <td>@item.CourseCode</td>
                                <td>@item.CourseTitle</td>
                                <td>@item.Semester.SemesterName</td>
                                <td>
                                    <a href="@Url.Action("GenerateSyllabus", "Teacher", new { id = item.CourseId})" class="btn btn-info">Show Syllabus</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="@Url.Action("YearSelection", "Teacher")" class="btn btn-info">Goto Selection</a>
</div>
