﻿@model SyllabusAutomation.Models.Course
@{
    ViewBag.Title = "YearSelection";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumb navigation -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Course Wise Syllabus</li>
    </ol>

    <div class="panel-group" id="accordion">
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Selection for Course List
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("YearSelection", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Select Program</h5>
                                        @Html.DropDownListFor(x => x.ProgramId, ViewBag.ProgramList as SelectList, "--- Select Program ---", new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(x => x.ProgramId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Select Session</h5>
                                        @Html.DropDownListFor(x => x.SessionId, ViewBag.SessionList as SelectList, "--- Select Session ---", new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(x => x.SessionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <h5>Select Year</h5>
                                        @Html.DropDownListFor(x => x.YearId, ViewBag.YearList as SelectList, "--- Select Year ---", new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(x => x.YearId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            
                            <div class="col-md-6">
                                <div class="col-md-10">
                                    <a onclick="window.history.back();" class="btn btn-outline-danger">Cancel</a>
                                    <input type="submit" class="btn btn-success" value="Select" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Display all missions of the university in a table -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-sign-out-alt"></i>

            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-info fas fa-plus-circle">          Start</a>
        </div>

    </div>
</div>

