﻿@media print {
    body {
        margin: 0;
 /* Adjust the margin as needed */
    }
    .print-content {
        margin: 0px 0 0 0px;
        padding: 0px 0 0 0px;
        page-break-after:auto
                       
    }

}

/* Hide the print button when printing */
@media print {
    .print-button {
        display: none;
    }
    .print-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 5px;
    }

    /* Define padding for the content in inches */
    @page {
        size: 8.27in 11.69in; /* Standard A4 size */
        margin: 0.9in;
    }
}
